  </div>

<div class="projects">
    <div class="container">


    <div class="navs">
      <ul class="nav nav-pills">
            <li class="nav-angular"><a href="#">AngularJS</a></li>
            <li class="nav-rails"><a href="#">Ruby on Rails</a></li>
            <li class="nav-jquery"><a href="#" >JavaScript</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a class="angular thumbnail">
              <%= image_tag "Outbox.PNG" %>
            </a>
            <a class="title" href= "#">Outbox</a>
            <p class="description"></p>
          </div>
          <div class="col-md-4">
            <a class="rails thumbnail">
              <%= image_tag "Innovation.PNG" %>
            </a>
            <a class="title" href= "#">Innovation Cloud</a>
            <p class="description"></p>
          </div>
          <div class="col-md-4">
            <a class="jquery thumbnail">
              <%= image_tag "Threadlyjq.PNG" %>
            </a>
            <a class="title" href= "#">Threadly</a>
            <p class="description"></p>
          </div>
    </div>

    <div cgitlass="row">
        <div class="col-md-4">
            <a class="jquery thumbnail">
              <%= image_tag "Bonsijq.PNG" %>
            </a>
            <a class="title" href= "#">Bonsai Meme Generator</a>
            <p class="description"></p>
          </div>
          <div class="col-md-4">
            <a class="angular thumbnail">
              <%= image_tag "boltang.PNG" %>
            </a>
            <a class="title" href= "#">Bolt Network</a>
            <p class="description"></p>
          </div>
          <div class="col-md-4">
            <a class="rails thumbnail">
              <%= image_tag "readmerails.PNG" %>
            </a>
            <a class="title" href= "#">Read Me</a>
            <p class="description"></p>
          </div>
    </div>
    </div>
</div>
