
  
</div>

<div class="container">
    <div class="banner">
        <ul>
            <li><%= image_tag "Newsroom.PNG" %></li>
            <li><%= image_tag "Photography.PNG" %></li>
            <li><%= image_tag "Headlines.PNG" %></li>
        </ul>
    </div>
</div>

<div class="supporting">
    <div class="container">
      
      
    <div class="navs">
        <ul>
            <li class="angular"><a href="#">AngularJS</a></li>
            <li class="rails"><a href="#">Ruby on Rails</a></li>
            <li class="jquery"><a href="#" >JavaScript</a></li>
        </ul>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <a class="angular">
              <%= image_tag "Outbox.PNG" %>
            </a>
            <a class="title" href= "#">Outbox</a>
            <p class="description"></p>
          </div>
          <div class="col-md-4">
            <a class="rails">
              <%= image_tag "Innovation.PNG" %>
            </a>
            <a class="title" href= "#">Innovation Cloud</a>
            <p class="description"></p>
          </div>
          <div class="col-md-4">
            <a class="jquery">
              <%= image_tag "Threadlyjq.PNG" %>
            </a>
            <a class="title" href= "#">Threadly</a>
            <p class="description"></p>
          </div>
    </div>
    
    <div cgitlass="row">
        <div class="col-md-4">
            <a class="jquery">
              <%= image_tag "Bonsijq.PNG" %>
            </a>
            <a class="title" href= "#">Bonsai Meme Generator</a>
            <p class="description"></p>
          </div>
          <div class="col-md-4">
            <a class="angular">
              <%= image_tag "boltang.PNG" %>
            </a>
            <a class="title" href= "#">Bolt Network</a>
            <p class="description"></p>
          </div>
          <div class="col-md-4">
            <a class="rails">
              <%= image_tag "readmerails.PNG" %>
            </a>
            <a class="title" href= "#">Read Me</a>
            <p class="description"></p>
          </div>
    </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="//unslider.com/unslider.min.js"></script>